body {
    margin: auto;
}

.header {
    margin: 0 auto;
    width: 100%;
    background-color: #ffffff;
}

.header-container {
    width: 960px;
    margin: 0 auto;
    border-bottom: 2px solid #cccccc;
}

    h1 {
        margin: 0;
        text-align: center;
        padding-top: 25px;
        padding-right: 15px;
        padding-bottom: 25px;
        padding-left: 15px;
        background-color: #4aaaa5;
        color: white;
        float: left;
    }
    .Contact {
        margin: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        float: right;
    }
    .Portfolio {
        margin:0;
        padding: 30px;
        float: right;
    }
    .About {
        margin: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        float: right;
    }
.container {
    background-color: #4aaaa5;
}
.content {
    clear: both;
    border: 1px solid #dddddd;
    width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #777777;
}

h2 {
    color: #4aaaa5;
    padding-left: 15px;
}

    #Me {
        height: 250px;
        width: 198px;
        padding-top: 10px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
    }

    p {
        text-align: justify;
        padding-right: 15px;
        padding-left: 15px;
    }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 10px solid #4aaaa5;
    background-color: #666666;
}

    h6 {
        text-align: center;
        color: white;
    }

.clearfix::after {
    content: " ";
    clear: both;
    display: block;
}